<section class="login p-fixed d-flex text-center bg-primary1 common-img-bg1">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body text-center">

            <div class="auth-box">
              <div class="row">
                <div class="col-md-12 text-center">
                  <img src="assets/images/auth/allam.png" alt="Allam">
                </div>
                <div class="col-md-12">
                  <h3 class=" txt-primary">{{message_title}}</h3>
                </div>
              </div>
              <hr class=" m-b-20">
              
              
              <div class="row m-b-25 ">
                <div class="col-sm-12 col-xs-12">
                   {{message_body}}
                </div>
                
              </div>
                           
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
