<div class="row allam-wrap">
  <div class="col-sm-12">
    <form  [formGroup]="masterForm" (ngSubmit)="onSubmit()">
    <div class="row m-b-20"><div class="col-md-12">
      <h3 class="text-right txt-primary">Add Subject </h3></div></div>
    <hr />
    
    <div class="card">
      <div class="row justify-content-md-center">
            <div class="card-block col-sm-6 col-xs-6 col-md-6 ">
              <div class="group m-t-15">
                <label>Name</label>
                  <input type="text" class="form-control" placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-md-center">
            <div class="card-block col-sm-6 col-xs-6 col-md-6">
            <div class="form-group  files color">
              
                <label>Upload Icon </label>
                  <input type="file" class="form-control" (change)="fileChangeEvent($event)" />
             
            </div>
            <div class="form-group">
              <div class="preview" >
                <img [src]="croppedImage" />
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="card-block col-sm-6 col-xs-6 col-md-6 mt-0">          
              <div class="group ">
                 <button [disabled]="loading" class="btn allam-btn-green text-white round-border create_cancel pull-right">
                   <span *ngIf="loading" class="spinner-border spinner-border-sm "></span>
                    Save
                  </button>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal crop-image-wrap" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Crop Image</h4>
        <button type="button" class="close alert-danger" data-dismiss="modal" (click)="closePopup()">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body slot-details-wrap">
          <image-cropper 
          [imageChangedEvent]="imageChangedEvent" 
          [maintainAspectRatio]="true" 
          [aspectRatio]="1 / 1"
          [resizeToWidth]="200" 
          format="png" 
          (imageCropped)="imageCropped($event)" 
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" 
          (loadImageFailed)="loadImageFailed()"></image-cropper>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="closePopup()">Done</button>
      </div>
    </div>
  </div>
</div>