<div class="row">
  <div class="col-sm-12">
   <div class="card">
   <div class="card-block col-sm-12 col-xs-12 col-md-6 m-auto">
   <div _ngcontent-oub-c3="" class="row m-b-20"><div _ngcontent-oub-c3="" class="col-md-12"><h3 _ngcontent-oub-c3="" class="text-left txt-primary">Add Sub Category </h3></div></div>
   
   <hr />
   <div class="group">
   <label>Enter Name</label>
   <input class="form-control" placeholder="Book" type="">
   <span class="md-line"></span></div>
   
   <div _ngcontent-gea-c7="" class="group m-t-15"><label _ngcontent-gea-c7="">Select Category</label><select _ngcontent-gea-c7="" class="form-control" id="hello-single"><option _ngcontent-gea-c7="" value="cheese">History</option><option _ngcontent-gea-c7="" value="h">Art</option><option _ngcontent-gea-c7="" value="c">Technology</option><option _ngcontent-gea-c7="" value="h">Sceince</option></select></div>
   
   <div class="checkbox-fade fade-in-primary m-t-15">
   <label _ngcontent-iwp-c3=""><input _ngcontent-iwp-c3="" type="checkbox" value="">
   <span  class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
   <span class="text-inverse">Publish</span></label>
   </div>
   
   <div class="m-t-15">
   <button class="btn btn-success ">
   <a ng-reflect-router-link="add-category" class="text-white" href="/category/add-category">Create</a></button>
   </div>
   
   </div>
   
   
   
   </div>
  </div>
</div>
