#step-7 {overflow-wrap: anywhere;}
.gray-bg {background-color: rgba(0,0,0,.05);}
#step-7 .form-group:nth-of-type(even) {margin-bottom: 25px; background-color: rgba(0,0,0,.05); padding: 10px;}
#step-7 .form-group {margin-bottom: 25px;}
#step-7 img { max-width:100px!important; }
label.control-label {display:block;}
div.dataTables_wrapper div.dataTables_info {float: left;}
.pagination {margin: 0;}













