
.upload-file {font-size: 11px;
    margin-right: 15px;}

input[type=file], input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus {outline: 0; float: right;}

.form-group.has-error {
    border: solid 1px red;
}










