<div class="row allam-wrap">
  <div class="col-sm-12">
    <div class="row m-b-20"><div class="col-md-12">
      <h3  class="text-right txt-primary">Edit </h3>
     </div></div>
     <hr />
   <div class="card">
    <form [formGroup]="form" (ngSubmit)="updateCategory()">
    <div class="row">
      <div class="card-block col-sm-12 col-xs-12 col-md-6 ">
        <div class="group">
          <label>Competition Name</label>
          <input type="text" maxlength="20" class="form-control" placeholder="Enter Competition Name" formControlName="default_name" [ngClass]="{ 'is-invalid': submitted && f.default_name.errors }">
          <span class="md-line"></span>
            <div *ngIf="submitted && f.default_name.errors" class="invalid-feedback">
                <div *ngIf="f.default_name.errors.required">Competition name is required.</div>
            </div>
        </div>
    
        <div class="form-group  files color m-t-15">
          <div class=" m-t-15">
            <label>Upload Icon </label>
              <input type="file" class="form-control" (change)="fileChangeEvent($event)" />
          </div>
        </div>
        <div class="form-group">
          <div class="preview" >
            <img [src]="croppedImage" />
          </div>
        </div>
      </div>

      <div class="card-block col-sm-12 col-xs-12 col-md-6 "  [style.visibility]="(_is_custom == 0) ? 'hidden' : 'visible' " >
        <div class="group">
          <label>Custom Competition Name</label>
          <input type="text" maxlength="20" class="form-control" placeholder="Custom Competition Name" formControlName="custom_name">
        </div>
    
        <div class="form-group  files color m-t-15">
          <div class=" m-t-15">
            <label>Upload Icon </label>
              <input type="file" class="form-control" (change)="fileChangeEvent2($event)" />
          </div>
        </div>
        <div class="form-group">
          <div class="preview" >
            <img [src]="croppedImage2" />
          </div>
        </div>
      </div>

       <div class="card-block col-sm-12 col-xs-12 col-md-6 ">
        <div class="group">
          <label>Sort Order</label>
           <select  class="form-control" formControlName="sort_order">
              <option *ngFor="let sort_item of sortArr" [value]="sort_item">
                  {{ sort_item }}
              </option>
            </select>
        </div>
      </div>
      <div class="card-block col-sm-12 col-xs-12 col-md-6">
        &nbsp;
      </div>
      <div class="card-block col-sm-12 col-xs-12 col-md-6 ">
        <div class="group">
          <label>Is Custom</label>
          <select  class="form-control" formControlName="is_custom" (change)="isCutom($event.target.value)">
            <option *ngFor="let isitem of isCutomArr" [value]="isitem.id">
                {{ isitem.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="card-block col-sm-12 col-xs-12 col-md-6">
        &nbsp;
      </div>
      <div class="card-block col-sm-12 col-xs-12 col-md-6 ">
        <div class="group">
          <label>Is Guest</label>
          <select  class="form-control" formControlName="is_guest" (change)="isGuest($event.target.value)">
            <option *ngFor="let isguest of isGuestArr" [value]="isguest.id">
                {{ isguest.name }}
            </option>
          </select>
        </div>
      </div>
     
      <div class="card-block col-sm-12 col-xs-12 col-md-6">
          <div class="m-t-15">
             <button [disabled]="loading" class="btn allam-btn-green text-white round-border m-r-10 create_cancel pull-right">
             <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Save Changes
            </button>
          </div>
      </div>
    </div>
    <div class="row">
      
    </div>
    </form>
   </div>
   </div>
</div>
<div class="modal crop-image-wrap" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Crop Image</h4>
        <button type="button" class="close alert-danger" data-dismiss="modal" (click)="closePopup()">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body slot-details-wrap">
          <image-cropper 
          [imageChangedEvent]="imageChangedEvent" 
          [maintainAspectRatio]="true" 
          [aspectRatio]="2 / 1"
          [resizeToWidth]="800" 
          format="png" 
          (imageCropped)="imageCropped($event)" 
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" 
          (loadImageFailed)="loadImageFailed()"></image-cropper>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="closePopup()">Done</button>
      </div>
    </div>
  </div>
</div>

<div class="modal crop-image-wrap" id="myModal" [style.display]="showModal2 ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Crop Image</h4>
        <button type="button" class="close alert-danger" data-dismiss="modal" (click)="closePopup2()">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body slot-details-wrap">
          <image-cropper 
          [imageChangedEvent]="imageChangedEvent2" 
          [maintainAspectRatio]="true" 
          [aspectRatio]="2 / 1"
          [resizeToWidth]="800" 
          format="png" 
          (imageCropped)="imageCropped2($event)" 
          (imageLoaded)="imageLoaded2()"
          (cropperReady)="cropperReady2()" 
          (loadImageFailed)="loadImageFailed2()"></image-cropper>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="closePopup2()">Done</button>
      </div>
    </div>
  </div>
</div>