<div class="row allam-wrap">
  <div class="col-sm-12">
    <div _ngcontent-oub-c3="" class="row m-b-20"><div _ngcontent-oub-c3="" class="col-md-12">
     <h3 _ngcontent-oub-c3="" class="text-left txt-primary">Edit Question </h3></div></div>
   
   <hr />
   <div class="card">
     <div class="row">
   <div class="card-block col-sm-12 col-xs-12 col-md-6 ">
   
   <div class="group">
    <label >Question Type</label>
    <select  class="form-control" id="hello-single">
      <option value="cheese">Text</option>
      <option value="h">Image</option>
      <option value="c">Video</option>
      
     </select></div>

     <div class="group  files color m-t-15" style="display: block;">
      <label>Upload Your File </label>
  
        <input type="file" class="form-control" multiple="">
      
      
     </div>

   <div class="group m-t-15" style="display: none;">
   <label>Enter Question</label>
   <input class="form-control" placeholder="Book" type="">
   <span class="md-line"></span>
  </div>

   
   <div class="group m-t-15">
     <label >Select Category</label>
     <select  class="form-control" id="hello-single">
       <option value="cheese">History</option>
       <option value="h">Art</option>
       <option value="c">Technology</option>
       <option value="h">Sceince</option>
      </select></div>

     


      

      <div class="form-group m-t-15">
        <label>Time Duration</label>
        <input class="form-control" placeholder="2:00 " type="number">
        <span class="md-line"></span>
       </div>
   
   
   </div>
   
   <div class="card-block col-sm-12 col-xs-12 col-md-6 ">

    <div class="row ">
      <div class="col-sm-10 col-xs-10 col-md-10">

      <label>Answer <span class="text-warning">*</span></label>
      <input class="form-control" placeholder="" type="">
      <span class="md-line"></span>

      </div>
      <div class="col-sm-2 col-xs-2 col-md-2"> 
        <label class="radio-box">
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
       </div>
    
    </div>

    
    <div class="row m-t-15">
      <div class="col-sm-10 col-xs-10 col-md-10">

      <label>Answer <span class="text-warning">*</span></label>
      <input class="form-control" placeholder="" type="">
      <span class="md-line"></span>

      </div>
      <div class="col-sm-2 col-xs-2 col-md-2"> 
        <label class="radio-box">
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
       </div>
    
    </div>


    <div class="row m-t-15">
      <div class="col-sm-10 col-xs-10 col-md-10">

      <label>Answer <span class="text-warning">*</span></label>
      <input class="form-control" placeholder="" type="">
      <span class="md-line"></span>

      </div>
      <div class="col-sm-2 col-xs-2 col-md-2"> 
        <label class="radio-box">
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
       </div>
    
    </div>


    <div class="row m-t-15">
      <div class="col-sm-10 col-xs-10 col-md-10">

      <label>Answer <span class="text-warning">*</span></label>
      <input class="form-control" placeholder="" type="">
      <span class="md-line"></span>

      </div>
      <div class="col-sm-2 col-xs-2 col-md-2"> 
        <label class="radio-box">
          <input type="radio"  name="radio">
          <span class="checkmark"></span>
        </label>
       </div>
    
    </div>

    <div class="row m-t-15">
      <div class="col-sm-12 col-xs-12 col-md-4 m-t-15">
        <div class="checkbox-fade fade-in-primary m-t-15">
          <label><input type="checkbox" value="yes" >
          <span  class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
          <span class="text-inverse">Active</span></label>
          </div>
        </div>

        <div class="col-sm-12 col-xs-12 col-md-8">
          <div class="m-t-15">
            <button type="button" class="btn allam-btn-green text-white round-border m-r-10 create_cancel" >Save Changes</button>
            <button type="button" class="btn btn-warning round-border create_cancel" >Reset</button>
            </div>
           </div>


    </div>


   </div>

  </div>


  <!--
  <div class="card-block col-sm-12 col-xs-12 col-md-12 p-t-0">
    <div class="row">  
      <div class="col-sm-12 col-xs-12 col-md-6">
        <div class="row">  
  <div class="checkbox-fade fade-in-primary">
    <label _ngcontent-iwp-c3=""><input _ngcontent-iwp-c3="" type="checkbox" value="">
    <span  class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
    <span class="text-inverse">Active</span></label>
    </div>
</div>

  </div>
    
  <div class="col-sm-12 col-xs-12 col-md-6">
   
    <a  class="btn btn-primary text-white add_create" href="/category/add-category">Create</a>
  
    </div>

</div>
</div>

-->









   
   </div>
  </div>
</div>
