<div class="container-fluid download-studyexam">
  <div class="row">
    <div class="col-md-12 ">
      <div class="print-btn">
        <button class="btn allam-btn btn-success" onclick="window.print()" title="Print" type="button"><i class="icofont icofont-print"></i> Print</button>
      </div>
      <div class="publish-table-wrap table-responsive" id="" *ngIf="mode==1 && parentmodule=='teacher'"> 
        <table #container class="table table-striped table-bordered " id="contentToConvert" >
        <thead>
          <tr>
            <th>Level</th>
            <th>Answer</th>
            <th><span class="option-width">Option D </span></th>
            <th><span class="option-width">Option C </span></th>
            <th><span class="option-width">Option B </span></th>
            <th><span class="option-width">Option A </span></th>
            <th>Question Type</th>
            <th>Question </th>
            <th>Duration </th>
            <!-- <th>Group </th>     -->        
          </tr>
         </thead>
          <tbody>
            <tr class="even ng-star-inserted" *ngFor="let question of questionArr">
                <td>{{ question.level }}</td>
                <td>{{ question.answer }}</td>
                <td [innerHTML]="question.option4 | safeHtml"></td>
                <td [innerHTML]="question.option3 | safeHtml"></td>
                <td [innerHTML]="question.option2 | safeHtml"></td>
                <td [innerHTML]="question.option1 | safeHtml"></td>
                <td>{{ question.qui_type }}</td>
                <td>
                  <div *ngIf="question.qui_type=='text'" [innerHTML]="question.question | safeHtml"></div>
                
                  <div *ngIf="question.qui_type=='image'">
                    <img src="{{s3_url+question.question_image_url}}">
                 </div>
                 <div *ngIf="question.qui_type=='text_and_image'">
                  <img src="{{s3_url+question.question_image_url}}">
                  <br>{{question.question}}
                 </div>
                 </td>

                <td class="">{{ question.duration }}</td>
               <!--  <td class="">{{ question.groups }}</td> -->
                
            </tr>
          </tbody>

          </table>  
      </div>

      <div class="publish-table-wrap table-responsive"  *ngIf="mode==2 && parentmodule=='teacher'">
        <table id="autofill" class="table table-striped table-bordered table-sm dataTable no-footer" role="grid" aria-describedby="autofill_info">
          <thead>
            <tr>
              <th>Level</th>
              <th>Answer</th>
              <th><span class="option-width">Option D </span></th>
              <th><span class="option-width">Option C </span></th>
              <th><span class="option-width">Option B </span></th>
              <th><span class="option-width">Option A </span></th>
              <th>Question Type</th>
              <th>Question </th>
              <!-- <th>Quant/Verbal </th>
              <th>Group </th> -->
              <th>Quiz type</th>
              <!-- <th>Quiz sub type</th> -->
              <th>Duration</th>
             <!--  <th>Image URL</th> -->
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of questionArr">
              <td class="">{{ item.level }}</td>
              <td class="">{{ item.answer }}</td>
              <td class="">{{ item.option4 }}</td>
              <td class="">{{ item.option3 }} </td>
              <td class="">{{ item.option2 }} </td>
              <td class="">{{ item.option1 }} </td>
              <td class="">{{ item.question_type }} </td>
              <td *ngIf="item.question_type=='text_and_image'">
              <img width="300" height="200" src="{{ local_api_url}}{{item.question_image}}"/>
              <br>
               {{ item.question }}
              </td>
              <td *ngIf="item.question_type=='image'">
              <img width="300" height="200" src="{{ local_api_url}}{{item.question_image}}"/>
              </td>
              <td *ngIf="item.question_type=='text' || item.question_type==null">
               {{ item.question }}
              </td>
             <!--  <td class="">{{ item.quant_verbal }}</td>
              <td class="">{{ item.group }}</td> -->
              <td class="">{{ item.quiz_type_name }}</td>
              <!-- <td class="">{{ item.quiz_sub_type_name }}</td> -->
              <td class="">{{ item.duration }}</td>
              <!-- <td> <span class="img-url-break"> {{ item.question_image_url }}</span></td> -->
              
            </tr>
          </tbody>
        </table>
      </div>
      <div class="publish-table-wrap m-b-0 table-responsive" *ngIf="mode==3 && parentmodule=='teacher'"> 
        <table class="table table-striped table-bordered " id="" >
        <thead>
          <tr>
            <th>Answer</th>
            <th><span class="option-width">Option D </span></th>
            <th><span class="option-width">Option C </span></th>
            <th><span class="option-width">option B </span></th>
            <th><span class="option-width">option A</span> </th>
            <th>Question Type</th>
            <th>Question </th>
            <th>Quant/Verbal </th>
            <th>Group </th>
          </tr>
         </thead>
          <tbody>
            <tr class="even ng-star-inserted" *ngFor="let question of questionArr">
                <td class="">{{ question.answer }}</td>
                <td [innerHTML]="question.option4 | safeHtml"></td>
                <td [innerHTML]="question.option3 | safeHtml"></td>
                <td [innerHTML]="question.option2 | safeHtml"></td>
                <td [innerHTML]="question.option1 | safeHtml"></td>
                <td class="">{{ question.qui_type }}</td>
                <td class="">
                  <div *ngIf="question.qui_type=='text'" [innerHTML]="question.question | safeHtml"></div>
               
                  <div *ngIf="question.qui_type=='image'">
                    <img src="{{s3_url+question.question_image_url}}">
                  </div>
                  <div *ngIf="question.qui_type=='text_and_image'">
                   <img src="{{s3_url+question.question_image_url}}">
                   <br>{{question.question}}
                  </div>
                </td>
                <td class="">{{ question.quant_verbal }}</td>
                <td class="">{{ question.groups }}</td>
            </tr>
          </tbody>

          </table>
      </div>
      <div class="publish-table-wrap table-responsive" *ngIf="mode==4 && parentmodule=='teacher'">
        <table id="autofill" class="table table-striped table-bordered nowrap dataTable" role="grid" aria-describedby="autofill_info">
          <thead>
            <tr>
              <th>Level</th>
              <th>Answer</th>
              <th><span class="option-width">Option D </span></th>
              <th><span class="option-width">Option C </span></th>
              <th><span class="option-width">Option B </span></th>
              <th><span class="option-width">Option A </span></th>
              <th>Question Type</th>
              <th>Question </th>
              <th>Quant/Verbal </th>
              <th>Group </th>
              <th>Quiz type</th>
              <th>Quiz sub type</th>
              <th>Duation</th>
             <!--  <th>Image URL</th> -->
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of questionArr">  
              <td class="">{{ item.level }}</td>
              <td class="">{{ item.answer }}</td>
              <td class="">{{ item.option4 }}</td>
              <td class="">{{ item.option3 }}</td>
              <td class="">{{ item.option2 }}</td>
              <td class="">{{ item.option1 }}</td>
              <td class="">{{ item.question_type }} </td>
              <td *ngIf="item.question_type=='text_and_image'">
              <img width="300" height="200" src="{{ local_api_url}}{{item.question_image}}"/>
              <br>
               {{ item.question }}
              </td>
              <td *ngIf="item.question_type=='image'">
              <img width="300" height="200" src="{{ local_api_url}}{{item.question_image}}"/>
              </td>
              <td *ngIf="item.question_type=='text' || item.question_type==null">
               {{ item.question }}
              </td>
              <td class="">{{ item.quant_verbal }}</td>
              <td class="">{{ item.groups }}</td>
              <td class="">{{ item.quiz_type_name }}</td>
              <td class="">{{ item.quiz_sub_type_name }}</td>
              <td class="">{{ item.duration }}</td>
          <!--    <td class=""> <span class="img-url-break">{{ item.question_image_url }} </span> </td> -->
               
            </tr>
          </tbody>
        </table>
      </div>

      <div class="publish-table-wrap table-responsive" *ngIf="mode==1 && parentmodule=='tsupervisor'">
          <table id="autofill" class="table table-striped table-bordered nowrap dataTable" role="grid" aria-describedby="autofill_info">
            <thead>
              <tr role="row">
              <th>Level</th>
              <th>Answer</th>
              <th><span class="option-width">Option D </span></th>
              <th><span class="option-width">Option C </span></th>
              <th><span class="option-width">Option B </span></th>
              <th><span class="option-width">Option A </span></th>
              <th>Question Type</th>
              <th>Question </th>
             <!--  <th>Quant/Verbal </th> -->
              <th>Lesson</th> 
              <th>Subject</th> 
              <th>Semester</th>
              <th>Class</th> 
              <th>Sub Type</th>
              <th>Quiz Type</th>  
            </tr>
            </thead>
            <tbody>
              <tr role="row" *ngFor="let question of questionArr">
                    <td>{{ question.level_name }}</td>
                    <td>{{ question.answer }}</td>
                    <td>
                        <img *ngIf="question.option_type=='image' else opt4Else" src="{{ s3_url}}{{question.option4}}"/>
                        <ng-template #opt4Else>
                           {{ question.option4 }}
                       </ng-template>
                    </td>
                    <td>
                        <img *ngIf="question.option_type=='image' else opt3Else" src="{{ s3_url}}{{question.option3}}"/>
                        <ng-template #opt3Else>
                           {{ question.option3 }}
                       </ng-template>
                    </td>
                    <td>
                        <img *ngIf="question.option_type=='image' else opt2Else" src="{{ s3_url}}{{question.option2}}"/>
                        <ng-template #opt2Else>
                           {{ question.option2 }}
                       </ng-template>
                    </td>
                     <td>
                        <img *ngIf="question.option_type=='image' else opt1Else" src="{{ s3_url}}{{question.option1}}"/>
                        <ng-template #opt1Else>
                           {{ question.option1 }}
                       </ng-template>
                    </td>
                    <td class="">{{ question.question_type }} </td>
                    <td *ngIf="question.question_type=='text_and_image'">
                    <img width="300" height="200" src="{{ s3_url}}{{question.question_image_url}}"/>
                    <br>
                     {{ question.question }}
                    </td>
                    <td *ngIf="question.question_type=='image'">
                    <img width="300" height="200" src="{{ s3_url}}{{question.question_image_url}}"/>
                    </td>
                    <td *ngIf="question.question_type=='text' || question.question_type==null">
                     {{ question.question }}
                    </td>
                   <!--  <td>{{ question.quant_verbal }}</td> -->
                    <td>{{ question.lesson_name | titlecase}}</td>
                    <td>{{ question.subject_name | titlecase}}</td>
                    <td>{{ question.semester_name | titlecase}}</td>
                    <td>{{ question.class_name | titlecase}}</td>
                    <td>{{ question.sub_quiz_name | titlecase}}</td>
                    <td>{{ question.quiz_type_name | titlecase}}</td>

                  </tr>
              </tbody>
            </table>
        </div>

   </div>
  </div>
</div>