.table-responsive {
    display: block;
    overflow-x: auto;
}


.single-curriculum-wrap .group label {
    display: block;
}

.card-block {
    padding: 0 12px 5px;
}

.single-curriculum-wrap h4 { margin-bottom: 10px;}
.single-curriculum-wrap h5 { margin-bottom: 15px; font-size:16px!important; color:#FFB64D;}
.single-curriculum-wrap .publish-table-wrap {max-height: 400px;}


