<div class="container-fluid single-curriculum">

  <div class="row">
    <div class="col-md-12 single-curriculum-wrap">
      <div class="row">
        <div class="col-md-12 quiz-title-wrap">
          <h4 class="main-title">Competitive exam</h4>
          <h5 class="pre_title">({{pre_quiz_title}})</h5>
        </div>
        </div>
        <form class="md-float-material" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
         <!--  <div class="col-sm-4 col-sm-4 col-md-4">
              <div class="group">
                 <select class="form-control" formControlName="class" [ngClass]="{ 'is-invalid': submitted && f.class.errors }">
                  <option value="">Class</option>
                  <option *ngFor="let option of masterArr.master_class" [value]="option.id" >{{option.name}}</option>
               </select>
                <span class="md-line"></span>
                <div *ngIf="submitted && f.class.errors" class="invalid-feedback">
                  <div *ngIf="f.class.errors.required">Class is required.</div>
                  <div *ngIf="f.class.errors.pattern">Accept numeric values only.</div>
                </div>
             </div>
          </div>  -->
          
         <!--  <div class=" col-sm-4 col-sm-4 col-md-4">
              <div class="group">
                <label>Quiz Sub Type</label>
                <select class="form-control" formControlName="quiz_sub_type" [ngClass]="{ 'is-invalid': submitted && f.quiz_sub_type.errors }">
                  <option value="">Quiz Sub Type</option>
                  <option *ngFor="let option of masterArr.master_sub_quiz" [value]="option.id" >{{option.name}}</option>
                </select>
                <span class="md-line"></span>
                <div *ngIf="submitted && f.quiz_sub_type.errors" class="invalid-feedback">
                  <div *ngIf="f.quiz_sub_type.errors.required">Quiz sub type is required.</div>
               </div>
             </div>
          </div> 
           <div class=" col-sm-4 col-sm-4 col-md-4">
              <div class="group">
                <label>Quiz Type</label>
                 <select class="form-control" formControlName="quiz_type" [ngClass]="{ 'is-invalid': submitted && f.quiz_type.errors }">
                  <option value="">Quiz Type</option>
                  <option *ngFor="let option of masterArr.master_quiz" [value]="option.id" >{{option.name}}</option>
                </select>
                <span class="md-line"></span>
                <div *ngIf="submitted && f.quiz_type.errors" class="invalid-feedback">
                  <div *ngIf="f.quiz_type.errors.required">Quiz type is required.</div>
                </div>
             </div>
          </div>  -->
       </div>

       <div class="row">
        
        <!-- <div class="col-sm-4 col-sm-4 col-md-4">
            <div class="group">
              <label>Chapter</label>
              <select class="form-control" formControlName="chapter" [ngClass]="{ 'is-invalid': submitted && f.chapter.errors }">
                  <option value="">Chapter</option>
                  <option *ngFor="let option of masterArr.master_chapter" [value]="option.id" >{{option.name}}</option>
               </select>

              <span class="md-line"></span>
              <div *ngIf="submitted && f.chapter.errors" class="invalid-feedback">
                  <div *ngIf="f.chapter.errors.required">Chapter is required.</div>
                  <div *ngIf="f.chapter.errors.pattern">Accept numeric values only.</div>

              </div>
           </div>
        </div> --> 
        
         <!-- <div class="col-sm-4 col-sm-4 col-md-4">
            <div class="group">
              <label>Semester</label>
              <select class="form-control" formControlName="semester" [ngClass]="{ 'is-invalid': submitted && f.semester.errors }">
                <option value="">Semester</option>
                <option *ngFor="let option of masterArr.master_semester" [value]="option.id" >{{option.name}}</option>
              </select>
              <span class="md-line"></span>
              <div *ngIf="submitted && f.semester.errors" class="invalid-feedback">
                  <div *ngIf="f.semester.errors.required">Semester is required.</div>
                  <div *ngIf="f.semester.errors.pattern">Accept numeric values only.</div>

              </div>
           </div>
         </div> --> 
     </div>
     <div class="row">
       <!--  <div class=" col-sm-4 col-sm-4 col-md-4">
            <div class="group">
              <label>Subject</label>
               <select class="form-control" formControlName="subject" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }">
                  <option value="">Subject</option>
                  <option *ngFor="let option of masterArr.master_subject" [value]="option.id" >{{option.name}}</option>
               </select>
              <span class="md-line"></span>
              <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                  <div *ngIf="f.subject.errors.required">Subject is required.</div>
                </div>
            </div>
        </div> -->
      <div class="col-sm-4 col-sm-4 col-md-4">
          <div class="group">
            <label>Quant/Verbal</label>
            <input class="form-control" placeholder="Quant/Verbal" type="text" formControlName="quant_verbal" formControlName="quant_verbal" maxlength="70" [ngClass]="{ 'is-invalid': submitted && f.quant_verbal.errors }">
            <span class="md-line"></span>
            <div *ngIf="submitted && f.quant_verbal.errors" class="invalid-feedback">
                  <div *ngIf="f.quant_verbal.errors.required">This field is required.</div>
            </div>
         </div>
      </div> 
       <div class="col-sm-4 col-sm-4 col-md-4">
          <div class="group">
            <label>Group</label>
             <select class="form-control" formControlName="group" [ngClass]="{ 'is-invalid': submitted && f.group.errors }">
                  <option value="">Group</option>
                  <option *ngFor="let option of masterArr.master_group" [value]="option.id" >{{option.name}}</option>
            </select>
            <span class="md-line"></span>
            <div *ngIf="submitted && f.group.errors" class="invalid-feedback">
                  <div *ngIf="f.group.errors.required">Group is required.</div>
            </div>
         </div>
      </div>
      <div class="col-sm-2 col-sm-2 col-md-2">
          <div class="group">
            <label>Language</label>
            <select class="form-control" (change)="lgChanged($event.target.value)" formControlName="language" [ngClass]="{ 'is-invalid': submitted && f.language.errors }">
                  <option value="arabic">Arabic</option>
                  <option value="english">English</option>
            </select>
            <span class="md-line"></span>
             <div *ngIf="submitted && f.language.errors" class="invalid-feedback">
                <div *ngIf="f.language.errors.required">Question Type is required.</div>

            </div>
          </div>
        </div> 
       <div class="col-sm-2 col-sm-2 col-md-2">
           <div class="group">
            <label>Question Type</label>
            <select class="form-control" (change)="qtChanged($event.target.value)" formControlName="question_type" [ngClass]="{ 'is-invalid': submitted && f.question_type.errors }">
                  <option value="text">text</option>
                  <option value="image">image</option>
                  <option value="text_and_image">Text and Image</option>
            </select>
            <span class="md-line"></span>
             <div *ngIf="submitted && f.question_type.errors" class="invalid-feedback">
                <div *ngIf="f.question_type.errors.required">Question type is required.</div>

            </div>
          </div>
        </div>
       <!-- <div class="col-sm-4 col-sm-4 col-md-4">
          <div class="group">
            <label>Lesson</label>
             <select class="form-control" formControlName="lesson" [ngClass]="{ 'is-invalid': submitted && f.lesson.errors }">
                  <option value="">Lesson</option>
                  <option *ngFor="let option of masterArr.master_lesson" [value]="option.id" >{{option.name}}</option>
               </select>

            <span class="md-line"></span>
            <div *ngIf="submitted && f.lesson.errors" class="invalid-feedback">
                  <div *ngIf="f.lesson.errors.required">Lession is required.</div>
                  <div *ngIf="f.lesson.errors.pattern">Accept numeric values only.</div>
            </div>
         </div>
       </div>  -->
   </div>

   <div class="row">
    
    <div class="col-lg-8 "> 
      <div class="row ">
        <div class="col-sm-10 col-xs-10 col-md-10 ">
        <ckeditor [editor]="Editor" [data]='optiona_value' [config]="config" (blur)="onChangeA($event)" class="q_opton optiona"></ckeditor>
        <!-- <input class="form-control" placeholder="Option A" type="text" formControlName="option1" maxlength="70" [ngClass]="{ 'is-invalid': submitted && f.option1.errors }"> -->

        <span class="md-line"></span>
          <div *ngIf="submitted && f.option1.errors" class="invalid-feedback">
              <div *ngIf="f.option1.errors.required">Option A is required.</div>
           </div>
        </div>
        <div class="col-sm-2 col-xs-2 col-md-2  txt-left"> 
          <label class="radio-box">
            <input type="radio" name="answer" value="a" formControlName="answer" checked>
            <span class="checkmark"></span>
          </label>
         </div>
      </div>
      <div class="row m-t-15">
        <div class="col-sm-10 col-xs-10 col-md-10 ">
        <ckeditor [editor]="Editor" [data]='optionb_value' [config]="config" (blur)="onChangeB($event)" class="q_opton optionb"></ckeditor>
        <!-- <input class="form-control" placeholder="Option B" type="text" formControlName="option2" maxlength="70" [ngClass]="{ 'is-invalid': submitted && f.option2.errors }"> -->
        <span class="md-line"></span>
         <div *ngIf="submitted && f.option2.errors" class="invalid-feedback">
              <div *ngIf="f.option2.errors.required">Option B is required.</div>
           </div>
        </div>
        <div class="col-sm-2 col-xs-2 col-md-2 txt-left"> 
          <label class="radio-box">
            <input type="radio" name="answer" value="b" formControlName="answer">
            <span class="checkmark"></span>
          </label>
         </div>
      </div>
      <div class="row m-t-15">
        <div class="col-sm-10 col-xs-10 col-md-10 ">
        <ckeditor [editor]="Editor" [data]='optionc_value' [config]="config" (blur)="onChangeC($event)" class="q_opton optionc"></ckeditor>
        <!-- <input class="form-control" placeholder="Option C" type="text" formControlName="option3" maxlength="70" [ngClass]="{ 'is-invalid': submitted && f.option3.errors }"> -->
        <span class="md-line"></span>
         <div *ngIf="submitted && f.option3.errors" class="invalid-feedback">
              <div *ngIf="f.option3.errors.required">Option C is required.</div>
          </div>

        </div>
        <div class="col-sm-2 col-xs-2 col-md-2"> 
          <label class="radio-box">
            <input type="radio" name="answer" value="c" formControlName="answer"> 
            <span class="checkmark"></span>
          </label>
         </div>
      </div>
      <div class="row m-t-15">
        <div class="col-sm-10 col-xs-10 col-md-10 group">
        <ckeditor [editor]="Editor" [data]='optiond_value' [config]="config" (blur)="onChangeD($event)" class="q_opton optiond"></ckeditor>
        <!-- <input class="form-control" placeholder="Option D" type="text" formControlName="option4" maxlength="70" [ngClass]="{ 'is-invalid': submitted && f.option4.errors }"> -->
        <span class="md-line"></span>
         <div *ngIf="submitted && f.option4.errors" class="invalid-feedback">
              <div *ngIf="f.option4.errors.required">Option D is required.</div>
          </div>           

        </div>
        <div class="col-sm-2 col-xs-2 col-md-2"> 
          <label class="radio-box">
            <input type="radio"  name="answer" value="d" formControlName="answer">
            <span class="checkmark"></span>
          </label>
         </div>
      </div>

      <div class="row">
        <!-- <div class="col-sm-10 col-xs-10 col-md-10">
          <div class="group">
             <select class="form-control" formControlName="level" [ngClass]="{ 'is-invalid': submitted && f.level.errors }">
                  <option value="">Level</option>
                  <option *ngFor="let option of masterArr.master_level" [value]="option.id" >{{option.name}}</option>
            </select>

            <span class="md-line"></span>
            <div *ngIf="submitted && f.level.errors" class="invalid-feedback">
                <div *ngIf="f.level.errors.required">Level is required.</div>
                <div *ngIf="f.level.errors.pattern">Accept numeric values only.</div>
            </div>
          </div>
        </div>  -->
        <div class="col-sm-2 col-xs-2 col-md-2"> </div>
    </div> 
    <div class="row">
        <div class="col-sm-10 col-xs-10 col-md-10">
           <div class="group">
            <label>Duration(in seconds)</label>
            <select class="form-control" formControlName="duration" [ngClass]="{ 'is-invalid': submitted && f.duration.errors }">
                  <option value="">Duration(in seconds)</option>
                  <option value="05">05</option>
                  <option value="15">15</option>
                  <option value="25">25</option>
                  <option value="30">30</option>
                  <option value="60">60</option>
                  <option value="120">120</option>
            </select>
            <span class="md-line"></span>
             <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                <div *ngIf="f.duration.errors.required">Duration is required.</div>
                <div *ngIf="f.duration.errors.pattern">Accept numeric values only.</div>

            </div>
          </div>
        </div> 
      <div class="col-sm-2 col-xs-2 col-md-2"> </div>

    </div> 
    
      <div class="row">
        <div class="col-sm-10 col-xs-10 col-md-10 ">
     <div class="group">
      <label>Note</label>
       <input class="form-control" placeholder="Note" type="text" formControlName="note" maxlength="70">
       <span class="md-line"></span>
    </div>
  </div> 
  <div class="col-sm-2 col-xs-2 col-md-2"> </div>

  </div> 

  
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-10">
      <div class="m-t-15">
        <button [disabled]="loading" class="btn allam-btn-green text-white round-border m-r-10 create_cancel">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
           <span *ngIf="this.idEdit">Update</span>
           <span *ngIf="this.idEdit==false">Save and insert</span>
        </button>
        </div>
       </div>
       <div class="col-md-2"> </div>
</div>









    </div>
    
      <div class="col-md-4" *ngIf="question_type=='text'">
        <div class="editor-wrap" id="my-node"> 
         <label>Question</label>
          <ckeditor [editor]="Editor" [config]="config" [data]='question_value' (blur)="onChange($event)" class="question"></ckeditor>
        <div class="question_note">Note: your question should be in the limit of the text editor height and width. NO SCROLL BAR should be displayed as this will be out of the limit of the question maximum length.</div>
        </div>
      </div>
      <div *ngIf="question_type=='image'" class="remove-txt-here col-md-4">
         <div class="form-group  files color m-t-15">
            <div class=" m-t-15">
              <label>Upload Question </label>
                <input type="file" class="form-control" (change)="fileChangeEvent($event)" accept="image/x-png,image/jpeg" />
            </div>
          </div>
          <div class="form-group">
            <div class="preview" >
              <img [src]="croppedImage" />
            </div>
          </div>
      </div>
       <div *ngIf="question_type=='text_and_image'" class="remove-txt-here col-md-4">
       <div class="form-group  files color m-t-15">
          <div class=" m-t-15">
            <label>Upload Question </label>
              <input type="file" class="form-control" (change)="fileChangeEvent($event)" accept="image/x-png,image/jpeg" />
          </div>
        </div>
        <div class="form-group">
          <div class="preview" >
            <img [src]="croppedImage" />
          </div>
        </div>
        <div class="form-group">
          <div class="editor-wrap" id="my-node"> 
           <label>Question Text</label>
            <textarea class="form-control" placeholder="Question" formControlName="question_text" maxlength="70" > </textarea>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
     

      </div>


      <div class="row">
        <div class="card-block col-sm-6 col-sm-6 col-md-6">
         
     </div> 

     <div class="card-block col-sm-6 col-sm-6 col-md-6">
    
 </div> 
 
   </div>

</form>   


  <div class="row" *ngIf="gridview">
    <div class="col-md-12">
      <div class="download-icon">
        <button class="btn allam-btn btn-success" (click)="downloadItem()" title="Download" type="button"><i class="icofont icofont-download"></i></button>
      </div>
      <div class="publish-table-wrap m-b-0 table-responsive"> 
        <table class="table table-striped table-bordered " id="" >
        <thead>
          <tr>
            <th>Answer</th>
            <th><span class="option-width">Option D </span></th>
            <th><span class="option-width">Option C </span></th>
            <th><span class="option-width">option B </span></th>
            <th><span class="option-width">option A</span> </th>
            <th>Question </th>
            <th>Quant/Verbal </th>
            <th>Group </th>
            <th>Edit</th>
            <th>Delete</th>
            <th>
              <button class="btn allam-btn btn-warning" (click)="deletItem()" title="Delete" type="button">
              <i class="icofont icofont-ui-delete"></i></button> 
            </th>
          </tr>
         </thead>
          <tbody>
            <tr class="even ng-star-inserted" *ngFor="let question of questionArr">
                <td class="">{{ question.answer }}</td>
                <td class=""  [innerHTML]="question.option4 | safeHtml"></td>
                <td class=""  [innerHTML]="question.option3 | safeHtml"></td>
                <td class=""  [innerHTML]="question.option2 | safeHtml"></td>
                <td class=""  [innerHTML]="question.option1 | safeHtml"></td>
                <td class="">
                  <div *ngIf="question.qui_type=='text'" [innerHTML]="question.question | safeHtml"></div>
                  <div *ngIf="question.qui_type=='image'">
                    <img src="{{s3_url+question.question_image_url}}">
                  </div>
                  <div *ngIf="question.qui_type=='text_and_image'">
                    <img src="{{s3_url+question.question_image_url}}">
                    <br>{{question.question}}
                  </div>
                </td>
                <td class="">{{ question.quant_verbal }}</td>
                <td class="">{{ question.groups }}</td>
                <td class="">
                  <button class="btn allam-btn allam-btn-green text-white" (click)="editItem(question)" title="Edit" type="button"><i class="icofont icofont-ui-edit"></i></button>
                </td>
                <td class="">
                  <button class="btn allam-btn btn-warning" (click)="deleteOneItem(question.id)" title="delete" type="button"><i class="icofont icofont-ui-delete"></i></button>
                </td>
                <td class="categories">
                   <input type="checkbox"  name="del_row" [value]="question.id" (change)="onCheckboxChange($event,question.id)" >  
                </td>
            </tr>
          </tbody>

          </table>


         
      </div>
   </div>
  </div>

  <div class="row" *ngIf="gridview">
    <div class="col-sm-12 col-xs-12 col-md-12">
      <div class="m-t-15 fl-left">
         <button [disabled]="loading2" class="btn allam-btn-green text-white round-border m-r-10 "  (click)="publish()">
          <span *ngIf="loading2" class="spinner-border spinner-border-sm mr-1"></span>
           Publish
        </button>

      </div>
    </div>
  </div>

</div>
</div>
</div>
<div class="modal crop-image-wrap" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Crop Image</h4>
        <button type="button" class="close alert-danger" data-dismiss="modal" (click)="closePopup()">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body slot-details-wrap">
          <image-cropper 
          [imageChangedEvent]="imageChangedEvent" 
          [maintainAspectRatio]="true" 
          [aspectRatio]="3 / 2"
          [resizeToWidth]="600" 
          format="png" 
          (imageCropped)="imageCropped($event)" 
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" 
          (loadImageFailed)="loadImageFailed()"></image-cropper>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="closePopup()">Done</button>
      </div>

    </div>
  </div>
</div>