<div class="row allam-wrap">
  <div class="col-sm-12">
    <div class="row m-b-20"><div class="col-md-12">
      <h3  class="text-right txt-primary">Settings </h3>
     </div></div>
     <hr />

   <div class="card ">
    <div class="row justify-content-md-center">
      <div class="col-sm-6 col-sm-6 col-xs-12">
     <form class="md-float-material" [formGroup]="resetForm" (ngSubmit)="onSubmit()">  
            <div class="row" >
              <div class="card-block col-md-12 pull-left">
                <h3>Change Password</h3>
              </div>
            
              <div class="col-md-12">
                <div class="group m-b-20">
                    <div class="input-group input-tr-br-radius">
                      <input type="password" class="form-control" placeholder="New password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">This field is required.</div>
                      </div>
                    </div>
                </div>
              </div>
           
              <div class="col-md-12">
                <div class="group m-b-20">
                  <div class="input-group input-tr-br-radius">
                    <input type="password" class="form-control" placeholder="Confirm Password" formControlName="conf_password" [ngClass]="{ 'is-invalid': submitted && f.conf_password.errors }">
                    <div *ngIf="submitted && f.conf_password.errors" class="invalid-feedback">
                        <div *ngIf="f.conf_password.errors.required">This field is required.</div>
                        <div *ngIf="f.conf_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                    </div>
                   
                  </div>
                </div>
              </div>
           
                      
           
              <div class="col-md-12">
              
                 <button [disabled]="loading" class="btn allam-btn-green text-white round-border create_cancel pull-right m-b-20">
                   <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                  </button>
                  
              
           </div>
          </div>
        </form>

      </div>
    </div>
    </div>
   </div>
</div>