:host ::ng-deep .ck-editor__editable_inline {
    min-height: 200px;
    max-height: 200px;
}

:host ::ng-deep .ck-editor{
    width: 300px;;
}

.single-curriculum-wrap .group label {
    display: block;
}

.card-block {
    padding: 0 12px 5px;
}

.dataTables_filter > input { width: 60%;}
#autofill_info { margin-top: 20px; float: left;}







