
  <!-- <h1 class="form-heading">{{ stepItems[activeStepIndex].label }}</h1> {{activeStepIndex}}
  <ul>
  <li><a href="#" [ngClass]="{'active': activeStepIndex == 0, 'active1': activeStepIndex >= 0}" >1</a></li>
  <li><a href="#" [ngClass]="{'active': activeStepIndex == 1, 'active1': activeStepIndex >= 1}" >2</a></li>
  <li><a href="#" [ngClass]="{'active': activeStepIndex == 2, 'active1': activeStepIndex >= 2}">3</a></li>
  <li><a href="#" [ngClass]="{'active': activeStepIndex == 3, 'active1': activeStepIndex >= 3}">4</a></li>
  <li><a href="#" [ngClass]="{'active': activeStepIndex == 4,'active1': activeStepIndex >= 4}">5</a></li>
  <li><a href="#" [ngClass]="{'active': activeStepIndex == 5, 'active1': activeStepIndex >= 5}">6</a></li>
</ul> -->

<div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-block allam-wrap">
              <div class="dt-responsive table-responsive11">
                <div id=" " class="dataTables_wrapper dt-bootstrap4">
                  <div class="formtab-stepbystep">
                    <ul> {{activeStepIndex}}
                      <li><a href="#" [ngClass]="{'active': activeStepIndex == 0, 'active1': activeStepIndex >= 0}" >1</a></li>
                      <li><a href="#" [ngClass]="{'active': activeStepIndex == 1, 'active1': activeStepIndex >= 1}" >2</a></li>
                      <li><a href="#" [ngClass]="{'active': activeStepIndex == 2, 'active1': activeStepIndex >= 2}">3</a></li>
                      <li><a href="#" [ngClass]="{'active': activeStepIndex == 3, 'active1': activeStepIndex >= 3}">4</a></li>
                      <li><a href="#" [ngClass]="{'active': activeStepIndex == 4,'active1': activeStepIndex >= 4}">5</a></li>
                      <li><a href="#" [ngClass]="{'active': activeStepIndex == 5, 'active1': activeStepIndex >= 5}">6</a></li>
                    </ul>
                  </div>
                  <hr>

  <ng-container
    *ngFor="let form of masterForm; let i = index; trackBy: trackByFn"
  >
    <form
      action=""
      [formGroup]="masterForm[i]"
      *ngIf="i === activeStepIndex || masterForm.length === 1"
    >
        <ng-container>
                  <div class="row">
                    <div class="col-sm-12 pb-4"> 
                    <h4 class="text-left txt-primary">Create New Daily Competition</h4>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12 col-md-3 "> 
                      <div class="competition-logo-upload">
                        Competition Logo Uplaod
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-8 "> 
                      
                      <div class="group m-b-15">
                        <label>Name of the competition</label>
                        <input class="form-control ng-pristine ng-valid ng-touched" name="title" placeholder=" " type="text" ng-reflect-name="title">
                      </div>

                      <div class="group  m-b-15">
                        <label>Description</label>
                        <textarea class="form-control ng-untouched ng-pristine ng-valid" cols="5" name="description" placeholder="Default textarea" rows="5" ng-reflect-name="description"></textarea>
                      </div>


                      <div class="group color m-b-15">
                        <label>Upload Your File </label>
                        <input type="file" class="form-control choosefiles">
                      </div>
                      <div class="group m-b-15">
                        Please upload a zip file which contains subfolders for Images
                        and Videos. The image file type should be .png / .jpg / .jpeg
                        and the video file type should be .mp4. The images and
                        videos should be placed in their designated folders.
                        </div>
                        <!---
                        <div class="group  files color m-b-15" style="display: block;">
                          <label>Upload Your File </label>
                          <input class="form-control" multiple="" type="file">
                        </div>
                        -->

                        <div class="group m-b-15">
                          <label>Upload Your File </label>
                          <input type="file" class="form-control choosefiles">
                        </div>
                        <div class="group m-b-15">
                         <img src="assets/images/sample-quiz-icon.png">
                         Sample Quiz
                        </div>


                        <div class="group m-b-15">
                          <button class="btn allam-btn-green text-white round-border create_cancel" type="button">Next</button>

                        </div>

                    </div>
                  </div>
        </ng-container>
                

      <div class="">
        <div class="fields-container"> {{formFields}}
          <div 
            *ngFor="let field of formFields[i]; trackBy: trackByFn"
            [ngSwitch]="currentFormContent[i][field].type"
          >
            <div class="full-width">
              <label class="field-label text-bold" [for]="field">{{ field | formatTitle }}</label>

              <ng-container *ngSwitchCase="'textarea'">
                <textarea
                  [id]="field"
                  [formControlName]="field"
                  [placeholder]="currentFormContent[i][field].placeholder"></textarea>
              </ng-container>

              <ng-container *ngSwitchCase="'select'">
                <select [formControlName]="field" [id]="field">
                  <option value="">Select your Country</option>
                  <option
                    *ngFor="let option of currentFormContent[i][field].options; trackBy: trackByFn"
                    [value]="option.name"
                    >{{ option.name }}</option>
                </select>
              </ng-container>

              <ng-container *ngSwitchDefault>
                <input
                  [type]="currentFormContent[i][field].type"
                  [formControlName]="field"
                  [id]="field"
                  [placeholder]="currentFormContent[i][field].placeholder"
                />
              </ng-container>
            </div>

            <p
              class="validation-error"
              *ngIf="
                (masterForm[i].get(field).dirty ||
                  masterForm[i].get(field).touched) &&
                masterForm[i].get(field).invalid &&
                masterForm[i].get(field).errors
              "
            >
              {{ getValidationMessage(i, field) }}
            </p>
          </div>
        </div>

        <div
          class="preview-container"
          *ngIf="activeStepIndex === stepItems.length - 1">
          <ul>
            <li
              class="form-details-list"
              *ngFor="let field of masterFormFields; trackBy: trackByFn">
              <span class="text-bold">{{ field | formatTitle }}</span>
              <span>{{ formData[field] || 'N/A' }}</span>
            </li>
          </ul>
        </div>

        <div class="button-container">
          <button
            type="button"
            [disabled]="!activeStepIndex"
            (click)="goToStep('prev')"
          >Previous</button>
          <button
            *ngIf="activeStepIndex === stepItems.length - 1"
            type="button"
            (click)="onFormSubmit()"
          >Submit</button>
          <button
            type="button"
            [disabled]="activeStepIndex === stepItems.length - 1 || masterForm[i].invalid"
            (click)="goToStep('next')"
          >Next</button>
        </div>
      </div>
    </form>
  </ng-container>
</div>

              </div>
            </div>
          </div>
        </div>
      </div>
