<div class="row">
<div class="col-sm-12">

<div class="card">
  <div class="card-block">
    <div class="dt-responsive table-responsive11">
      <div id="autofill_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <!-- survey create wrap-->
        <div class="sv_main sv_frame sv_defnpmault_css">
          <div class="sv_custom_header"></div>
          <a class="btn allam-btn allam-btn-green text-white" (click)="goBack()"
        > &lt; Back</a>
        <br/><br/>
          <div class="sv_container">
            
            <div class="sv_body">
              <survey-analytics
                [json]="json"
                [result]="results"
              ></survey-analytics>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</div>
</div>