.table-responsive {
    display: block;
    overflow-x: auto;
}

.single-curriculum-wrap .publish-table-wrap {max-height: 400px;}

.single-curriculum-wrap .group label {
    display: block;
}

.card-block {
    padding: 0 12px 5px;
}
.publish-table-wrap.m-b-0 { margin-bottom: 0px;}