<div class="container-fluid single-curriculum">
 

  <div class="row">
    <div class="col-md-12 single-curriculum-wrap">
      <div class="row">
        <div class="col-md-12">
          <h4>Curriculum Exam</h4>

        </div>
      </div>
      <div class="row" *ngIf="isSave">
        <div class="col-md-12">
          <div class="col-md-12">
            <form class="md-float-material" [formGroup]="formVar" novalidate (ngSubmit)="onSubmit()">

              <div class="row file-upload">
                <div class="col-md-6">
                  <div class="group">
                  Upload xlsx file
                </div>
                  <div class="group">
                    <input #variable accept=".xlsx" (change)="fileChangeXlsx($event, variable)" type="file" class="form-control choosefiles" formControlName="excelFile">
                  </div>
                  <div class="group">
                    <a href="assets/file/se_curriculum_format.xlsx"> 
                      Sample Quiz
                    <img class="img-fluid" width="20" height="18" alt=" " src="assets/images/sample-quiz.jpg"> </a>
                  </div>

                </div>
                <div class="col-md-6">
                  <div class="group">
                  Upload image Zip file
                </div>
                  <div class="group">
                    <input #variable1 accept=".zip" (change)="fileChangeZip($event, variable1)" type="file" class="form-control choosefiles" formControlName="zipFile">
                  </div>

                  <div class="group do-u-have-img">
                    Do you have image? <input type="checkbox" formControlName="existImage" value="Yes" (change)="eventCheck($event)"> Yes

                  </div>
                  <div class="group">
                    <div class="col-md-12">
                      <!-- Progress Bar --> 
                      <div class="progress form-group" *ngIf="percentDone">
                          <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                            [style.width.%]="percentDone">
                          </div>
                      </div>
                    </div>
                    <!-- spinnner element is defined with id loading -->
                      <div class="justify-content-center" id="loading-s" style="display: none !important"> 
                          <div class="spinner-border" role="status"> 
                              <span class="sr-only" id="loading"></span> 
                          </div> 
                      </div>
                    
                     <button type="button" class="btn allam-btn-green text-white" (click)="upload()" id="btnUpload"><span *ngIf="loading2" class="spinner-border spinner-border-sm mr-1"></span> Upload</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-12">
          <div *ngIf="isError" class="bulk_table_fullw table-responsive">
              <div class="publish-table-wrap ">
                <h1>Following data is having errors:</h1>
                  <table width="100%" class="table table-striped table-bordered nowrap dataTable" border="1">
                    <thead>
                      <tr>
                        
                        <th width="10%">Question</th>
                        <!-- <th width="10%">Question File Url</th> -->
                        <th width="10%">Answer</th>
                        <th width="10%">Option A</th>
                        <th width="10%">Option B</th>
                        <th width="10%">Option C</th>
                        <th width="10%">Option D</th>
                        <th width="10%">Level</th>
                        <th width="10%">Notes</th>
                        <th width="10%">Remarks</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of errorData">
                        
                        <td width="10%">{{ item.question }}</td>
                        <!-- <td width="10%">{{ item.question_file_url }}</td> -->
                        <td width="10%">{{ item.answer }}</td>
                        <td width="10%">{{ item.option1 }}</td>
                        <td width="10%">{{ item.option2 }}</td>
                        <td width="10%">{{ item.option3 }}</td>
                        <td width="10%">{{ item.option4 }}</td>
                        <td width="10%">{{ item.level }}</td>
                        <td width="10%">{{ item.notes }}</td>
                        <td [innerHTML]="item.Remarks" width="15%"></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            
          </div>
          <div *ngIf="isProcessed" class="bulk_table_fullw">
           
              <button class="btn allam-btn btn-success mt-3 mb-3" (click)="downloadItem()" title="Download" type="button"><i class="icofont icofont-download"></i></button>
           
                    <div class="publish-table-wrap table-responsive mt-0 pt-0">
                      <table id="autofill" class="table table-striped table-bordered table-sm dataTable no-footer" role="grid" aria-describedby="autofill_info">
                        <thead>
                          <tr>
                            <th>Level</th>
                            <th>Answer</th>
                            <th><span class="option-width">Option D </span></th>
                            <th><span class="option-width">Option C </span></th>
                            <th><span class="option-width">Option B </span></th>
                            <th><span class="option-width">Option A </span></th>
                            <th>Question Type</th>
                            <th>Question </th>
                            <!-- <th>Quant/Verbal </th>
                            <th>Group </th> -->
                            <th>Quiz type</th>
                            <!-- <th>Quiz sub type</th> -->
                            <th>Duration</th>
                          <!--   <th>Image URL</th> -->
                          <th>Edit </th>
                          <th>Delete </th>
                          <th><span class="option-width"><input class="form-check-input" type="checkbox" (change)="selectAll()" [checked]="selectedAll">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn allam-btn btn-warning" (click)="deletItem()" title="Delete" type="button"><i class="icofont icofont-ui-delete"></i></button> </span>
                          </th>
                            
                           
                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of questionArr">
                            
                            
                            <td class="">{{ item.level }}</td>
                            <td class="">{{ item.answer }}</td>
                            <td class="">{{ item.option4 }}</td>
                            <td class="">{{ item.option3 }} </td>
                            <td class="">{{ item.option2 }} </td>
                            <td class="">{{ item.option1 }} </td>
                            <td class="">{{ item.question_type }} </td>
                            <td *ngIf="item.question_type=='text_and_image'">
                            <img width="300" height="200" src="{{ local_api_url}}{{item.question_image}}"/>
                            <br>
                             {{ item.question }}
                            </td>
                            <td *ngIf="item.question_type=='image'">
                            <img width="300" height="200" src="{{ local_api_url}}{{item.question_image}}"/>
                            </td>
                            <td *ngIf="item.question_type=='text' || item.question_type==null">
                             {{ item.question }}
                            </td>
                            <td class="">{{ item.quiz_type_name }}</td>
                            <td class="">{{ item.duration }}</td>
                            <td><button type="button" class="btn allam-btn allam-btn-green text-white" (click)="editItem(item)"><i class="icofont icofont-ui-edit"></i> </button></td>
                            <td class="">
                              <button class="btn allam-btn btn-warning" (click)="deleteOneItem(item.id)" title="delete" type="button"><i class="icofont icofont-ui-delete"></i></button>
                            </td>
                            <td class="categories"><!-- <input type="checkbox"  name="del_row" [value]="item.id" (change)="onCheckboxChange($event,item.id)" > -->
                              
                              <input class="form-check-input" type="checkbox" value="{{item.question}}" [(ngModel)]="item.selected" (change)="checkIfAllSelected($event,item.id)">
                            </td>
                           
                           
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 col-xs-12 col-md-12">
                        
                            <button (click)="reUpload()" class="btn allam-btn-green text-white round-border ">
                              Cancel
                            </button> &nbsp; 
                            <!-- <button (click)="onSubmitData()" class="btn allam-btn-green text-white round-border ">
                              Publish
                            </button> -->
                            <button [disabled]="loading2" class="btn allam-btn-green text-white round-border"  (click)="publish()">
                            <span *ngIf="loading2" class="spinner-border spinner-border-sm mr-1"></span>
                               Publish
                            </button>
                       
                        
                      </div>
                    </div>
                  
          </div>
        </div>
      </div>
      <div class="row" *ngIf="isEdit">
        <div class="col-md-12">
          <form class="md-float-material" [formGroup]="form" (ngSubmit)="onUpdateTemp()">
            <div class="row">
              <div class="card-block col-sm-4 col-sm-4 col-md-4">
                  <div class="group"> 
                    <label>Class</label>
                    <select class="form-control" formControlName="class" [ngClass]="{ 'is-invalid': submitted && f.class.errors }">
                      <option value="">Class</option>
                      <option *ngFor="let option of masterArr.master_class" [value]="option.id" >{{option.name}}</option>
                    </select>
                    
                    <span class="md-line"></span>
                    <div *ngIf="submitted && f.class.errors" class="invalid-feedback">
                      <div *ngIf="f.class.errors.required">Class is required.</div>
                      <div *ngIf="f.class.errors.pattern">Accept numeric values only.</div>
                    </div>
                 </div>
              </div> 
              
               <div class="card-block col-sm-4 col-sm-4 col-md-4">
                  <div class="group">

                    <label>Chapter</label>
                    <select class="form-control" formControlName="chapter" [ngClass]="{ 'is-invalid': submitted && f.chapter.errors }">
                      <option value="">Chapter</option>
                      <option *ngFor="let option of masterArr.master_chapter" [value]="option.id" >{{option.name}}</option>
                    </select>

                    <span class="md-line"></span>
                     <div *ngIf="submitted && f.chapter.errors" class="invalid-feedback">
                        <div *ngIf="f.chapter.errors.required">Chapter is required.</div>
                        <div *ngIf="f.chapter.errors.pattern">Accept numeric values only.</div>
                    </div>
                 </div>
              </div> 
              <div class="card-block col-sm-4 col-sm-4 col-md-4">
                  <div class="group">
                    <label>Subject</label>
                    
                    <select class="form-control" formControlName="subject" [ngClass]="{ 'is-invalid': submitted && f.subject.errors }">
                      <option value="">Subject</option>
                      <option *ngFor="let option of masterArr.master_subject" [value]="option.id" >{{option.name}}</option>
                    </select>
                    <span class="md-line"></span>
                     <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                        <div *ngIf="f.subject.errors.required">Subject is required.</div>
                      </div>
                 </div>
              </div> 


            </div>

            <div class="row">
             
              <div class="card-block col-sm-4 col-sm-4 col-md-4">
                  <div class="group">
                    <label>Semester</label>
                    <select class="form-control" formControlName="semester" [ngClass]="{ 'is-invalid': submitted && f.semester.errors }">
                      <option value="">Semester</option>
                      <option *ngFor="let option of masterArr.master_semester" [value]="option.id" >{{option.name}}</option>
                    </select>
                    
                    <span class="md-line"></span>
                     <div *ngIf="submitted && f.semester.errors" class="invalid-feedback">
                        <div *ngIf="f.semester.errors.required">Semester is required.</div>
                        <div *ngIf="f.semester.errors.pattern">Accept numeric values only.</div>

                    </div>
                 </div>
              </div> 

              <div class="card-block col-sm-4 col-sm-4 col-md-4">
                <div class="group">
                  <label>Lesson</label>
                  
                  <select class="form-control" formControlName="lesson" [ngClass]="{ 'is-invalid': submitted && f.lesson.errors }">
                    <option value="">Lesson</option>
                    <option *ngFor="let option of masterArr.master_lesson" [value]="option.id" >{{option.name}}</option>
                  </select>
                  <span class="md-line"></span>
                   <div *ngIf="submitted && f.lesson.errors" class="invalid-feedback">
                        <div *ngIf="f.lesson.errors.required">Lession is required.</div>
                        <div *ngIf="f.lesson.errors.pattern">Accept numeric values only.</div>
                    </div>
               </div>
            </div> 
          <div class="col-sm-4 col-sm-4 col-md-4">
           <div class="group">
            <label>Question Type</label>
            <select class="form-control" (change)="qtChanged($event.target.value)" formControlName="question_type" [ngClass]="{ 'is-invalid': submitted && f.question_type.errors }">
                  <option value="text">Text</option>
                  <option value="image">Image</option>
                  <option value="text_and_image">Text and Image</option>
            </select>
            <span class="md-line"></span>
             <div *ngIf="submitted && f.question_type.errors" class="invalid-feedback">
                <div *ngIf="f.question_type.errors.required">question_type is required.</div>

            </div>
          </div>
        </div>
            </div>
   
            <div class="row">
              <div class="col-lg-8 ">
                <div class="row ">
                   <div class="col-sm-10 col-xs-10 col-md-10 group">
                      <input class="form-control" placeholder="Option A" type="text" formControlName="option1" maxlength="70" [ngClass]="{ 'is-invalid': submitted && f.option1.errors }">
                      <span class="md-line"></span>
                        <div *ngIf="submitted && f.option1.errors" class="invalid-feedback">
                            <div *ngIf="f.option1.errors.required">Option A is required.</div>
                         </div>
                      </div>
                      <div class="col-sm-2 col-xs-2 col-md-2  txt-left "> 
                        <label class="radio-box">
                           <input type="radio"  name="answer" value="a" formControlName="answer" [checked]="form.get('answer').value.toLowerCase() == 'a'">
                          <span class="checkmark"></span>
                        </label>
                       </div>
                </div>
                <div class="row m-t-15">
                  <div class="col-sm-10 col-xs-10 col-md-10 group">
                    <input class="form-control" placeholder="Option B" type="text" formControlName="option2" maxlength="70" [ngClass]="{ 'is-invalid': submitted && f.option2.errors }">
                    <span class="md-line"></span>
                     <div *ngIf="submitted && f.option2.errors" class="invalid-feedback">
                          <div *ngIf="f.option2.errors.required">Option B is required.</div>
                       </div>
                    </div>
                    <div class="col-sm-2 col-xs-2 col-md-2 txt-left"> 
                      <label class="radio-box">
                        <input type="radio"  name="answer" value="b" formControlName="answer" [checked]="form.get('answer').value.toLowerCase() == 'b'">
                        <span class="checkmark"></span>
                      </label>
                     </div>
                </div>
                <div class="row m-t-15">
                 <div class="col-sm-10 col-xs-10 col-md-10 group">
                  <input class="form-control" placeholder="Option C" type="text" formControlName="option3" maxlength="70" [ngClass]="{ 'is-invalid': submitted && f.option3.errors }">
                  <span class="md-line"></span>
                   <div *ngIf="submitted && f.option3.errors" class="invalid-feedback">
                        <div *ngIf="f.option3.errors.required">Option C is required.</div>
                    </div>

                  </div>
                  <div class="col-sm-2 col-xs-2 col-md-2"> 
                    <label class="radio-box">
                      <input type="radio"  name="answer" value="c" formControlName="answer" [checked]="form.get('answer').value.toLowerCase() == 'c'">
                      <span class="checkmark"></span>
                    </label>
                   </div>
                </div>

                <div class="row m-t-15">
                  <div class="col-sm-10 col-xs-10 col-md-10 group">
                    <input class="form-control" placeholder="Option D" type="text" formControlName="option4" maxlength="70" [ngClass]="{ 'is-invalid': submitted && f.option4.errors }">
                    <span class="md-line"></span>
                     <div *ngIf="submitted && f.option4.errors" class="invalid-feedback">
                          <div *ngIf="f.option4.errors.required">Option D is required.</div>
                      </div>

                    </div>
                    <div class="col-sm-2 col-xs-2 col-md-2"> 
                      <label class="radio-box">
                        <input type="radio"  name="answer" value="d" formControlName="answer" [checked]="form.get('answer').value.toLowerCase() == 'd'">
                        <span class="checkmark"></span>
                      </label>
                     </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-xs-10 col-md-10">
                     <div class="group">
                      <label>Level</label>
                      <select class="form-control" formControlName="level" [ngClass]="{ 'is-invalid': submitted && f.level.errors }">
                        <option value="">Level</option>
                        <option *ngFor="let option of masterArr.master_level" [value]="option.id" >{{option.name}}</option>
                      </select>
                      
                      <span class="md-line"></span>
                       <div *ngIf="submitted && f.level.errors" class="invalid-feedback">
                          <div *ngIf="f.level.errors.required">Level is required.</div>
                          <div *ngIf="f.level.errors.pattern">Accept numeric values only.</div>

                      </div>
                    </div>
                  </div> 
                  <div class="col-sm-2 col-xs-2 col-md-2"> </div>
                </div> 
                <div class="row">
                  <div class="col-sm-10 col-xs-10 col-md-10">
                     <div class="group">
                      <label>Duration (In Seconds)</label>
                      <select class="form-control" formControlName="duration" [ngClass]="{ 'is-invalid': submitted && f.duration.errors }">
                        <option value="">Duration (In Seconds)</option>
                        <option *ngFor="let option of durationOptions" [value]="option" >{{option}}</option>
                      </select>
                      
                      <span class="md-line"></span>
                       <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                          <div *ngIf="f.duration.errors.required">Question time is required.</div>
                          <div *ngIf="f.duration.errors.pattern">Accept numeric values only.</div>

                      </div>
                    </div>
                  </div> 
                  <div class="col-sm-2 col-xs-2 col-md-2"> </div>
                </div> 
                <div class="row">
                  <div class="col-sm-10 col-xs-10 col-md-10 ">
                    <div class="group">
                      <label>Note</label>
                     <input class="form-control" placeholder="Note" type="text" formControlName="note" maxlength="70">
                     <span class="md-line"></span>
                    </div>
                  </div> 
                  <div class="col-sm-2 col-xs-2 col-md-2"> </div>
                </div> 
                <div class="row">
                  <div class="col-sm-10 col-xs-10 col-md-10 ">
                    <div class="m-t-15">
                      <button (click)="goBack()" [disabled]="loading" class="btn allam-btn-green text-white round-border m-r-10 create_cancel">
                         <span *ngIf="this.idEdit">Back</span>
                      </button>
                      
                      <button [disabled]="loading" class="btn allam-btn-green text-white round-border create_cancel">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                         <span *ngIf="this.idEdit">Update</span>
                         
                      </button>

                    </div>
                    
                  </div>
                  <div class="col-sm-2 col-xs-2 col-md-2"> </div>  
                </div>
              </div>
              <div class="col-lg-4 " *ngIf="question_type=='text'">
                <div class="editor-wrap" id="my-node"> 
                 <label>Question</label>
                  
                  <textarea class="form-control" placeholder="Question" formControlName="question" maxlength="70" [ngClass]="{ 'is-invalid': submitted && f.question.errors }"> </textarea>
                  <span class="md-line"></span>
                  <div *ngIf="submitted && f.question.errors" class="invalid-feedback">
                    <div *ngIf="f.question.errors.required">Question is required.</div>
                  </div>
                </div>
              </div>
            <div *ngIf="question_type=='image'" class="remove-txt-here col-md-4">
               <div class="form-group  files color m-t-15">
                  <div class=" m-t-15">
                    <label>Upload Question </label>
                      <input type="file" class="form-control" (change)="fileChangeEvent($event)" accept="image/x-png,image/jpeg" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="preview" *ngIf="croppedImage!=local_api_url">
                    <img [src]="croppedImage" />
                  </div>
                </div>
            </div>
            <div *ngIf="question_type=='text_and_image'" class="remove-txt-here col-md-4">
               <div class="form-group  files color m-t-15">
                  <div class=" m-t-15">
                    <label>Upload Question </label>
                      <input type="file" class="form-control" (change)="fileChangeEvent($event)" accept="image/x-png,image/jpeg" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="preview" *ngIf="croppedImage!=local_api_url">
                    <img [src]="croppedImage" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="editor-wrap" id="my-node"> 
                   <label>Question Text</label>
                    <textarea class="form-control" placeholder="Question" formControlName="question" maxlength="70" > </textarea>
                  </div>
                </div>
            </div>

            </div>
            
          </form>
        </div>
      </div>
  </div>
</div>
<div class="modal crop-image-wrap" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Crop Image</h4>
        <button type="button" class="close alert-danger" data-dismiss="modal" (click)="closePopup()">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body slot-details-wrap">
          <image-cropper 
          [imageChangedEvent]="imageChangedEvent" 
          [maintainAspectRatio]="true" 
          [aspectRatio]="3 / 2"
          [resizeToWidth]="600" 
          format="png" 
          (imageCropped)="imageCropped($event)" 
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()" 
          (loadImageFailed)="loadImageFailed()"></image-cropper>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="closePopup()">Done</button>
      </div>

    </div>
  </div>
</div>