<div class="container-fluid dashboard">
  

  <div class="row">
    <div class="col-md-12 Competitive-curriculum-exam-wrap">
      <div class="row justify-content-md-center">

      <div class="col-md-9">

        <div class="card">
        <h4>Quiz Type</h4>
        
        <form class="md-float-material" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
              <div class=" col-sm-12 col-xs-12 col-md-12 ">
                       
               <div class="group">
                  <select class="form-control" formControlName="quiz_type" (change)="examType($event)" [ngClass]="{ 'is-invalid': submitted && f.quiz_type.errors }">
                    <option value="">Quiz Type</option>
                    <option *ngFor="let option of masterArr.master_quiz" [value]="option.id" >{{option.name}}</option>
                  </select>
                   <div *ngIf="submitted && f.quiz_type.errors" class="invalid-feedback">
                      <div *ngIf="f.quiz_type.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
          </div>
           <div class="row">&nbsp;</div>
          <div class="row">
            <div class="col-sm-6 col-xs-6 col-md-6">
                <div class="group">
                    <button  class="btn btn-block allam-btn-green text-white ">
                            Next
                    </button>
                </div>
            </div>
          </div>
        </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>