:host ::ng-deep .ck-editor__editable_inline {
    min-height: 200px;
    max-height: 200px;
}

:host ::ng-deep .ck-editor{
    width: 300px;;
}

.single-curriculum-wrap .group label {
    display: block;
}

.dataTables_filter > input { width: 60%;}
#autofill_info { margin-top: 20px; }
ul.pagination {float:right;}

div.dataTables_wrapper div.dataTables_info {float: left;}









