

.Competitive-exam-wrap .competitive-exam .card {
    padding:25px 15px;
}

.competitive-exam .card .title { margin-bottom: 15px; font-size:16px; font-weight: 600;  color: #18BBB1;}
.competitive-exam .card .text-c-pink { margin-bottom:2px;}
.competitive-exam .card .status { margin-top:7px;}
.creat-new-btn { margin: 0; float: left; font-size: 16px;}
.filter-wrap { margin-bottom: 25px;}
.Competitive-exam-wrap {padding: 30px 25px 25px 25px;}











