.sv_main.sv_frame .sv_container {max-width: 100%!important; padding: 0!important;}
.sv_container > button {margin: 10px; }
.sv_main .sv_container .sv_body .sv_p_root .sv_q_title {direction: rtl!important;}

@media all and (max-width:1600px){
    

}








